.loading-wrapper__spinner {
  position: relative;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.navbar-bg {
  background-color: #012169;
}

.main-bg {
  background: url("./assets/img/banner-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.logo {
  width: 100px;
}

.cursor-pointer {
  cursor: pointer;
}
