.loading-wrapper__spinner {
  position: relative;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.navbar-bg {
  background-color: #012169;
}

.main-bg {
  background: url("./assets/img/banner-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.logo {
  width: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.pose-image {
  max-width: 150px;
  width: 100%;
  max-height: 100px;
  height: auto;
  margin: 5px 0;
  object-fit: cover;
}

.pose-table__header-right {
  height: 50px;
}

.table-overflow > div {
  /* overflow: visible !important;
  white-space: nowrap !important; */
  /* margin-left: 5px !important; */
  white-space: normal !important;
}

@media screen and (max-width: 450px) {
  .table-align-right {
    text-align: right;
    visibility: hidden;
  }
  .table-align-right > div {
    text-align: right;
    visibility: hidden;
  }
  .table-overflow > div {
    overflow: visible !important;
    white-space: nowrap !important;
    margin-left: 5px !important;
  }
}

/* default table styles */
.responsive-table-wrapper {
  overflow-x: scroll;
  max-width: 100%;
}

.pose-video {
  transition: width 0.5s ease-in, height 0.5s ease-in;
}

@media screen and (max-width: 767px) {
  .navbar__responsive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }

  .navbar__responsive > * {
    display: flex !important;
    flex-direction: row !important;
    margin-left: 0 !important;
  }
}
